.stagelist{

	float: left;
    width: 20%;
    height: 950px;
    background:red;
}

.ministage{
	margin: auto;
	margin-top: 10px;
    width: 90%;
    height: 30%;
    background:blue;
}

.stage{
	float: left;
    width: 60%;
    height: 950px;
    background:blue;
}

.team_or_rider_box{
	float: right;
    width: 20%;
    height: 950px;
    background:yellow;
}

.team_or_rider_list{
	margin: auto;
	margin-top: 60px;
    width: 90%;
    height: 40%;
    background:blue;
}

.team_or_rider_info{
	margin: auto;
	margin-top: 60px;
    width: 90%;
    height: 40%;
    background:blue;
}